{% extends 'base.html' %}

{% block title %}{{ phone.name }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ phone.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="{{ phone.image }}" class="img-fluid" alt="{{ phone.name }}">
        </div>
        <div class="col-md-6">
            <p><strong>Цена:</strong> {{ phone.price }} ₽</p>
            <p><strong>Дата выхода:</strong> {{ phone.release_date|date:"Y-m-d" }}</p>
            <p><strong>Наличие LTE:</strong> {{ phone.lte_exists|yesno:"Да,Нет" }}</p>
            <a href="{% url 'catalog' %}" class="btn btn-secondary">Вернуться в каталог</a>
        </div>
    </div>
{% endblock %}